<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <span>★ <a href="{{ path('index') }}">The App</a></span>
                <nav>
                    <ul>
                        {% if msgphp_user.user %}
                            <li>Welcome <em>{{ msgphp_user.user.email }}</em></li>
                            <li><a href="{{ path('my_account') }}">My account</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Login</a></li>
                            <li><a href="{{ path('register') }}">Register</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('index', {_switch_user: 'user@domain.dev'}) }}">Impersonate</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}

        {% block flashes %}
            {% include 'partials/flashes.html.twig' with {flashes: app.flashes} only %}
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
