{% extends 'base.html.twig' %}

{% block body %}
    <p>Confirm your password to proceed.</p>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password.plain, {label: 'Password', translation_domain: false}) }}

        <div>
            <input type="submit" value="Confirm" /> or <a href="{{ cancelUrl }}">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
