{% extends 'base.html.twig' %}

{% set userId, user = msgphp_user.currentId, msgphp_user.current %}
{% set oauth_resources = {
    (constant('App\\Entity\\Eav\\Attribute::GOOGLE_OAUTH_ID')): 'Google',
    (constant('App\\Entity\\Eav\\Attribute::FACEBOOK_OAUTH_ID')): 'Facebook'
} %}

{% block body %}
    <h1>My Profile</h1>

    <fieldset>
        <legend>Information</legend>
        <ul>
            <li>ID: <code>{{ userId }}</code></li>
            <li>
                Linked  accounts:
                <ul>
                    {% for attributeValue in user.attributeValues if attributeValue.attributeId.toString in oauth_resources|keys %}
                        {% set resource, id = oauth_resources[attributeValue.attributeId.toString], attributeValue.value %}
                        <li>{{ resource }}: <code>{{ id }}</code></li>
                    {% else %}
                        <li><em>None</em></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                Roles:
                <ul>
                    {% for role in app.user.roles %}
                        <li>{{ ('role.' ~ role)|trans }}</li>
                    {% else %}
                        <li><em>None</em></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>API</legend>
        <ul>
            <li>JWT token: <a href="{{ path(app.request.attributes.get('_route'), {'generate-jwt': true}) }}">Generate</a></li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>E-mails</legend>
        <ul>
            <li>{{ user.email }} - Primary</li>
            {% for userEmail in user.emails %}
                <li>
                    {{ userEmail.email }}
                    {% if userEmail.confirmed %}
                        - Confirmed
                        - <a href="{{ path(app.request.attributes.get('_route'), {'primary-email': userEmail.email}) }}">Mark primary</a>
                    {% else %}
                        - Unconfirmed
                        - <a href="{{ path(app.request.attributes.get('_route'), {'confirm-email': userEmail.email}) }}">Send confirmation link</a>
                    {% endif %}
                    - <a href="{{ path(app.request.attributes.get('_route'), {'delete-email': userEmail.email}) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>

        {{ form_start(email_form) }}
            {{ form_errors(email_form) }}
            {{ form_row(email_form.email, {label: 'E-mail', translation_domain: false}) }}

            <div>
                <input type="submit" value="Add" />
            </div>
        {{ form_end(email_form) }}
    </fieldset>

    <fieldset>
        <legend>Change Password</legend>
        {{ form_start(password_form) }}
            {{ form_errors(password_form) }}
            {{ form_row(password_form.currentPassword.password, {label: 'Current password', translation_domain: false}) }}
            {{ form_row(password_form.newPassword.password, {label: 'New password', translation_domain: false}) }}
            {{ form_row(password_form.newPassword.confirmation, {label: 'Confirm new password', translation_domain: false}) }}

            <div>
                <input type="submit" value="Change password" />
            </div>
        {{ form_end(password_form) }}
    </fieldset>
{% endblock %}
