{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset password</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password.password, {label: 'New password', translation_domain: false}) }}
        {{ form_row(form.password.confirmation, {label: 'Confirm new password', translation_domain: false}) }}

        <div>
            <input type="submit" value="Reset password" />
        </div>
    {{ form_end(form) }}
{% endblock %}
